In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/content/pseudo_facebook.csv")

In [ ]:
data

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98998,1268299,68,4,1945,4,female,541.0,2118,341,3996,18089,3505,11887,491,6202
98999,1256153,18,12,1995,3,female,21.0,1968,1720,4401,13412,4399,10592,2,2820
99000,1195943,15,10,1998,5,female,111.0,2002,1524,11959,12554,11959,11462,0,1092
99001,1468023,23,11,1990,4,female,416.0,2560,185,4506,6516,4506,5760,0,756
99002,1397896,39,15,1974,5,female,397.0,2049,768,9410,12443,9410,9530,0,2913

# Generate Data & Data Pre-processing

In [ ]:
#mengganti user id menjadi urut 1 s/d 99003
for i in range(0,99003):
    data['userid'][i] = i + 1

<ipython-input-5-bb0781580747>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['userid'][i] = i + 1

In [ ]:
data.tail()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
98998,98999,68,4,1945,4,female,541.0,2118,341,3996,18089,3505,11887,491,6202
98999,99000,18,12,1995,3,female,21.0,1968,1720,4401,13412,4399,10592,2,2820
99000,99001,15,10,1998,5,female,111.0,2002,1524,11959,12554,11959,11462,0,1092
99001,99002,23,11,1990,4,female,416.0,2560,185,4506,6516,4506,5760,0,756
99002,99003,39,15,1974,5,female,397.0,2049,768,9410,12443,9410,9530,0,2913

In [ ]:
#mengenerate 1000 bil bulat 1 s/d 99003
import random

rand = random.sample(range(1, 99004), 99003)
rand = rand[:1000]

#np.random.seed(9)

In [ ]:
rand

[61376,
 16428,
 27811,
 30785,
 76659,
 10475,
 31024,
 79191,
 50047,
 85500,
 18981,
 93247,
 5491,
 53002,
 55311,
 39534,
 3325,
 4164,
 32087,
 25276,
 24778,
 66463,
 90160,
 36906,
 13704,
 39504,
 239,
 56717,
 54601,
 37573,
 58032,
 13381,
 8515,
 98630,
 28422,
 8930,
 17412,
 87576,
 22669,
 73590,
 37547,
 19969,
 68063,
 31729,
 84634,
 44471,
 20837,
 21672,
 54618,
 55383,
 86273,
 81437,
 94497,
 26559,
 30011,
 47096,
 53946,
 80052,
 14772,
 85978,
 38794,
 58334,
 59486,
 21807,
 61887,
 63844,
 27368,
 31773,
 34713,
 67266,
 66634,
 79884,
 15198,
 57339,
 6021,
 65478,
 31179,
 41409,
 9956,
 33737,
 69522,
 33126,
 38107,
 67631,
 20531,
 35651,
 42025,
 38877,
 28335,
 54712,
 86643,
 69666,
 90960,
 24820,
 29380,
 92129,
 77046,
 22660,
 84549,
 12522,
 47588,
 28135,
 87332,
 50614,
 86857,
 30609,
 24352,
 20394,
 82542,
 58780,
 50559,
 16100,
 55030,
 32620,
 86603,
 68192,
 72285,
 23503,
 13832,
 30247,
 73624,
 73319,
 48434,
 94838,
 91229,
 48244,
 30410,
 34531,
 74055,
 65222,
 82700,
 39322,
 27405,
 17336,
 62420,
 25791,
 30290,
 24097,
 41852,
 25420,
 38316,
 727,
 66871,
 13653,
 97714,
 80492,
 36627,
 13328,
 76224,
 54475,
 97565,
 7484,
 23162,
 76547,
 724,
 24531,
 95727,
 52991,
 45134,
 35637,
 97509,
 83257,
 97182,
 47037,
 80124,
 45741,
 14261,
 71221,
 3135,
 17851,
 92985,
 61293,
 14181,
 53797,
 34351,
 81595,
 80380,
 30223,
 57069,
 44971,
 92751,
 58315,
 78360,
 14460,
 55135,
 17157,
 86860,
 67542,
 48362,
 67489,
 69089,
 70927,
 59845,
 60500,
 27391,
 46513,
 13542,
 68347,
 90905,
 47933,
 19515,
 92144,
 18283,
 89849,
 98560,
 30014,
 75537,
 85047,
 89710,
 64643,
 42356,
 35553,
 41481,
 16560,
 48838,
 95757,
 65633,
 25723,
 20093,
 26133,
 85758,
 1561,
 32208,
 34393,
 8423,
 70312,
 86360,
 95021,
 18096,
 32346,
 49146,
 32735,
 34189,
 53039,
 74514,
 4521,
 93614,
 17823,
 67255,
 40517,
 16221,
 49303,
 86809,
 10401,
 44974,
 57162,
 96830,
 29806,
 37166,
 95983,
 27698,
 78317,
 36291,
 7158,
 56363,
 93822,
 58691,
 50999,
 1053,
 26791,
 67560,
 38552,
 81262,
 83253,
 69942,
 74873,
 16593,
 82543,
 43967,
 52883,
 13464,
 87073,
 66623,
 52581,
 45687,
 60723,
 57238,
 11527,
 41918,
 1504,
 40984,
 27776,
 56282,
 58016,
 25297,
 86274,
 95852,
 81818,
 13947,
 58503,
 5972,
 15388,
 97087,
 77342,
 642,
 91256,
 49702,
 60014,
 76267,
 39730,
 47497,
 38666,
 64415,
 12151,
 41284,
 86220,
 10405,
 85378,
 44275,
 57694,
 11951,
 17572,
 7516,
 17216,
 68375,
 83024,
 61360,
 12464,
 66035,
 68262,
 29258,
 4268,
 76351,
 64916,
 5739,
 33344,
 18947,
 81476,
 45729,
 74812,
 41063,
 55682,
 70218,
 67718,
 97490,
 52272,
 80164,
 55219,
 71875,
 98853,
 25448,
 36356,
 33904,
 85415,
 27873,
 7071,
 65836,
 15315,
 11789,
 51203,
 32932,
 47154,
 69200,
 89490,
 7016,
 32298,
 43633,
 73645,
 89493,
 58650,
 21678,
 60258,
 61643,
 31645,
 18527,
 351,
 44550,
 41148,
 113,
 63063,
 72793,
 67136,
 10631,
 76624,
 14155,
 3932,
 91339,
 16076,
 86925,
 8713,
 12624,
 66721,
 69791,
 6757,
 44717,
 78924,
 35746,
 93142,
 88272,
 26634,
 60497,
 68053,
 20465,
 40624,
 27759,
 23542,
 23225,
 3380,
 97860,
 93041,
 90881,
 75620,
 61726,
 68117,
 66303,
 1823,
 83277,
 37976,
 8859,
 39578,
 93558,
 4561,
 4190,
 7170,
 88783,
 15109,
 33594,
 90667,
 63083,
 43738,
 79776,
 85455,
 64065,
 4411,
 84507,
 59881,
 75533,
 93923,
 34131,
 51002,
 79697,
 60438,
 20505,
 6595,
 51055,
 79563,
 89743,
 67953,
 21001,
 52178,
 54694,
 56339,
 29336,
 64269,
 93698,
 18118,
 89345,
 33209,
 14630,
 65089,
 12671,
 3685,
 28170,
 9025,
 61184,
 29617,
 53883,
 79143,
 70432,
 39252,
 30455,
 60545,
 86346,
 40651,
 62626,
 34404,
 92018,
 61744,
 31569,
 20850,
 98977,
 71655,
 31160,
 55488,
 98365,
 78115,
 48247,
 76610,
 66821,
 23671,
 54515,
 46285,
 51377,
 28652,
 56,
 1709,
 9821,
 29486,
 55027,
 57877,
 62457,
 76962,
 80416,
 21763,
 95174,
 74867,
 69457,
 38997,
 67232,
 8642,
 16768,
 39633,
 73864,
 69711,
 19789,
 79578,
 67986,
 48708,
 73869,
 44373,
 25385,
 41141,
 8445,
 89362,
 52731,
 6835,
 20373,
 6159,
 12415,
 66737,
 79999,
 12026,
 90177,
 63761,
 11118,
 78669,
 71770,
 55087,
 47363,
 71083,
 5369,
 61566,
 41834,
 74306,
 6639,
 76322,
 10515,
 7698,
 33954,
 17327,
 83526,
 67490,
 92621,
 63336,
 39891,
 19936,
 19757,
 47258,
 44727,
 46878,
 75162,
 34000,
 92399,
 57703,
 50433,
 88363,
 70926,
 82470,
 45194,
 3883,
 81453,
 79028,
 77297,
 70802,
 91588,
 42554,
 35466,
 80043,
 1501,
 2431,
 19315,
 54491,
 77841,
 75446,
 53659,
 47847,
 21035,
 93497,
 45372,
 95426,
 90729,
 66495,
 71897,
 50307,
 17771,
 59719,
 16542,
 21851,
 96550,
 38843,
 24287,
 87618,
 44478,
 71780,
 85227,
 27538,
 5182,
 42022,
 57706,
 43360,
 92699,
 44498,
 95877,
 35433,
 49219,
 33739,
 76084,
 4135,
 68596,
 55183,
 54445,
 38741,
 79321,
 61666,
 80610,
 73957,
 61830,
 83366,
 47575,
 89126,
 40388,
 3265,
 22240,
 38109,
 42714,
 67678,
 95120,
 78647,
 43407,
 85157,
 52534,
 98772,
 79966,
 67306,
 82270,
 12188,
 87580,
 6687,
 71582,
 59101,
 46981,
 28927,
 11810,
 28954,
 79018,
 56867,
 59673,
 47164,
 66432,
 15263,
 32281,
 31626,
 90611,
 29664,
 83878,
 67902,
 72506,
 54725,
 83632,
 17349,
 64278,
 84421,
 57032,
 92004,
 83479,
 8893,
 203,
 26318,
 56546,
 94292,
 76209,
 54004,
 3201,
 31950,
 15819,
 16383,
 83988,
 22441,
 5697,
 24556,
 77320,
 53421,
 76178,
 92702,
 15541,
 43023,
 74626,
 85109,
 93753,
 59018,
 65623,
 81799,
 89516,
 7340,
 25414,
 15335,
 70,
 81056,
 91412,
 53164,
 1378,
 32485,
 61735,
 10426,
 20638,
 38228,
 83006,
 12627,
 67054,
 19670,
 959,
 29249,
 5940,
 77557,
 14695,
 15369,
 12242,
 70203,
 26792,
 41108,
 32096,
 98366,
 73764,
 85869,
 49502,
 16132,
 12890,
 94741,
 10726,
 96546,
 87234,
 51612,
 69853,
 81512,
 48705,
 78171,
 85318,
 98805,
 86188,
 58450,
 12169,
 94949,
 1805,
 15753,
 23347,
 65486,
 57464,
 82160,
 78440,
 92663,
 13850,
 64072,
 5774,
 84533,
 64461,
 77253,
 45929,
 21811,
 77990,
 20289,
 29390,
 97678,
 77028,
 53879,
 5195,
 5277,
 84058,
 85430,
 37321,
 93951,
 80138,
 71286,
 19158,
 98735,
 89031,
 7890,
 79014,
 19697,
 11784,
 5541,
 41486,
 97765,
 9178,
 76613,
 72631,
 75998,
 42830,
 79885,
 34365,
 2093,
 35790,
 62921,
 75273,
 75599,
 32449,
 48977,
 92357,
 24690,
 20949,
 19206,
 72643,
 41721,
 63947,
 43927,
 38144,
 31447,
 73343,
 56214,
 23593,
 66698,
 8646,
 44866,
 12997,
 21053,
 29903,
 82606,
 32736,
 97719,
 94432,
 62562,
 82423,
 98314,
 64402,
 68675,
 87476,
 8193,
 15509,
 45419,
 7770,
 77322,
 8229,
 501,
 9767,
 34886,
 55967,
 65408,
 71547,
 2653,
 50504,
 96136,
 91061,
 8131,
 26360,
 7905,
 48802,
 17433,
 26366,
 68631,
 18523,
 1264,
 18956,
 18465,
 78975,
 83227,
 95919,
 59195,
 93637,
 67832,
 34987,
 19552,
 79992,
 83436,
 30136,
 34403,
 72548,
 19473,
 68858,
 1425,
 25453,
 46681,
 71497,
 36644,
 76758,
 33728,
 38049,
 30919,
 69358,
 82398,
 63017,
 43136,
 27033,
 86971,
 62518,
 19852,
 61982,
 66232,
 76293,
 65200,
 84382,
 17947,
 74918,
 23717,
 49685,
 32312,
 59834,
 49754,
 46335,
 38359,
 47541,
 3975,
 14841,
 62483,
 54760,
 76193,
 20757,
 91755,
 88818,
 64171,
 27578,
 26705,
 31455,
 41503,
 78950,
 69288,
 74705,
 12506,
 49390,
 25625,
 1998,
 90890,
 95363,
 58398,
 49602,
 50455,
 77193,
 43496,
 43587,
 65930,
 10808,
 71429,
 33755,
 41017,
 83857,
 22649,
 23692,
 49412,
 2287,
 72210,
 77731,
 93187,
 42211,
 51506,
 97074,
 49167,
 2908,
 14249,
 96791,
 7783,
 31568,
 45709,
 76657,
 321,
 23891,
 46987,
 74761,
 7435,
 53040,
 98418,
 52358,
 42917,
 57476,
 82669,
 88856,
 18452,
 53452,
 76246,
 21596,
 67928,
 20043,
 27796,
 95773,
 92872,
 33373,
 14544,
 64967,
 80795,
 43103,
 85821,
 94474,
 64424,
 58712,
 82397,
 66696,
 54143,
 24463,
 65168,
 47536,
 63360,
 61975,
 45997,
 5427,
 29736,
 13566,
 95942,
 87864,
 6619,
 81390,
 88751,
 61053,
 79329]

In [ ]:
#Ambil 1000 data random
dat = pd.DataFrame({'userid':data['userid'],'age':data['age'],'gender':data['gender'],'tempat_tinggal':'','pekerjaan':'','instansi':'','hobi':''})
for i in rand:
  dat = data.iloc[rand[:1000], :]

In [ ]:
dat

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
61376,61377,18,28,1995,9,female,442.0,126,98,2,0,0,0,2,0
16428,16429,25,2,1988,9,male,303.0,19,13,0,0,0,0,0,0
27811,27812,54,31,1959,3,male,1287.0,36,23,0,0,0,0,0,0
30785,30786,39,25,1974,3,female,708.0,40,14,13,4,10,4,3,0
76659,76660,45,16,1968,1,male,137.0,223,202,37,198,10,16,27,182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6619,6620,24,23,1989,5,male,191.0,5,3,0,0,0,0,0,0
81390,81391,64,14,1949,10,male,1325.0,287,213,10,3,0,0,10,3
88751,88752,17,20,1996,8,female,498.0,422,300,156,113,156,75,0,38
61053,61054,31,26,1982,7,female,613.0,124,95,262,690,262,620,0,70
79329,79330,22,15,1991,5,female,789.0,254,107,4,36,4,24,0,12

In [ ]:
df = pd.DataFrame({'userid':dat['userid'],'age':dat['age'],'gender':dat['gender'],'domisili':'','pekerjaan':'','instansi':'','hobi':''})
df

       userid  age  gender domisili pekerjaan instansi hobi
61376   61377   18  female
16428   16429   25    male
27811   27812   54    male
30785   30786   39  female
76659   76660   45    male
...       ...  ...     ...      ...       ...      ...  ...
6619     6620   24    male
81390   81391   64    male
88751   88752   17  female
61053   61054   31  female
79329   79330   22  female

[1000 rows x 7 columns]

In [ ]:
df = df.reset_index(drop=True)
df.tail()

     userid  age  gender domisili pekerjaan instansi hobi
995    6620   24    male
996   81391   64    male
997   88752   17  female
998   61054   31  female
999   79330   22  female

In [ ]:
dat2 = pd.read_csv("/content/Data tambahan.csv")

In [ ]:
dat2

,Pekerjaan,Hobi,Instansi,Domisili
0,Siswa,Membaca,SMA A,Kota Jakarta
1,Mahasiswa,Menulis,SMA B,Kota Cilegon
2,Content creator,Menyanyi,SMA C,Kota Serang
3,Content writer,Menari,Universitas Indonesia (UI),Kota Tangerang
4,Infuencer,Melukis,Institut Teknologi Bandung (ITB),Kota Tangerang Selatan
...,...,...,...,...
109,NaN,NaN,NaN,Kabupaten Situbondo
110,NaN,NaN,NaN,Kabupaten Sumenep
111,NaN,NaN,NaN,Kabupaten Trenggalek
112,NaN,NaN,NaN,Kabupaten Tuban
113,NaN,NaN,NaN,Kabupaten Tulungagung

In [ ]:
from random import randint
for i in range(len(df)):
  df['pekerjaan'][i] = dat2['Pekerjaan'][randint(0,14)]
  df['hobi'][i] = dat2['Hobi'][randint(0,19)]
  df['instansi'][i] = dat2['Instansi'][randint(0,39)]
  df['domisili'][i] = dat2['Domisili'][randint(0,113)]

<ipython-input-14-261517bfe55b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pekerjaan'][i] = dat2['Pekerjaan'][randint(0,14)]
<ipython-input-14-261517bfe55b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hobi'][i] = dat2['Hobi'][randint(0,19)]
<ipython-input-14-261517bfe55b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['instansi'][i] = dat2['Instansi'][randint(0,39)]
<ipython-input-14-261517bfe55b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['domisili'][i] = dat2['Domisili'][randint(0,113)]

In [ ]:
df

,userid,age,gender,domisili,pekerjaan,instansi,hobi
0,61377,18,female,Kota Magelang,Content writer,Universitas Gunadarma,Programming
1,16429,25,male,Kabupaten Bangkalan,Data analyst,Universitas Andalas (UNAND),Menonton
2,27812,54,male,Kota Bogor,Blogger,Universitas Negeri Malang (UM),Menonton
3,30786,39,female,Kabupaten Situbondo,Web developer,Universitas Udayana (UNUD),Mendengarkan musik
4,76660,45,male,Kabupaten Tulungagung,Data analyst,SMA A,Olahraga
...,...,...,...,...,...,...,...
995,6620,24,male,Kabupaten Blitar,App developer,Universitas Negeri Surabaya (UNESA),Bermain game
996,81391,64,male,Kabupaten Boyolali,Penulis,Universitas Airlangga (UNAIR),Berkebun
997,88752,17,female,Kota Pasuruan,App developer,PT Bank Negara Indonesia Tbk,Berkebun
998,61054,31,female,Kabupaten Banjarnegara,Infuencer,PT Bank Negara Indonesia Tbk,Olahraga
999,79330,22,female,Kota Bogor,Video editor,Universitas Diponegoro (UNDIP),Makan

In [ ]:
df.to_csv('Data generated.csv', index=False)

# Friends Recommendation Model (1) No TF

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/Data generated.csv")

In [3]:
data = pd.DataFrame({'userid':df['userid'],'instansi':df['instansi'],'pekerjaan':df['pekerjaan'],'domisili':df['domisili'],'hobi':df['hobi']})

In [4]:
data.head()

,userid,instansi,pekerjaan,domisili,hobi
0,61377,Universitas Gunadarma,Content writer,Kota Magelang,Programming
1,16429,Universitas Andalas (UNAND),Data analyst,Kabupaten Bangkalan,Menonton
2,27812,Universitas Negeri Malang (UM),Blogger,Kota Bogor,Menonton
3,30786,Universitas Udayana (UNUD),Web developer,Kabupaten Situbondo,Mendengarkan musik
4,76660,SMA A,Data analyst,Kabupaten Tulungagung,Olahraga

In [5]:
def recommend_friends(user):
    #define the variables
    similar_users = []
    similar_instansi = []
    similar_pekerjaan = []
    similar_domisili = []
    similar_hobi = []
    userPreferences = {}

    #input value to userPreferences according to the user that matched with userid in data
    userPreferences['instansi'] = data[data['userid'] == user]['instansi'].values[0]
    userPreferences['pekerjaan'] = data[data['userid'] == user]['pekerjaan'].values[0]
    userPreferences['domisili'] = data[data['userid'] == user]['domisili'].values[0]
    userPreferences['hobi'] = data[data['userid'] == user]['hobi'].values[0]

    #iterate through data index 0 up to length of data and find similarities between user and others
    for i in range(len(data)):
        if (data['userid'][i] != user) and (
                data['instansi'][i] == userPreferences['instansi'] or
                data['pekerjaan'][i] == userPreferences['pekerjaan'] or
                data['domisili'][i] == userPreferences['domisili'] or
                data['hobi'][i] == userPreferences['hobi']):
            similar_users.append(data['userid'][i])

        if data['userid'][i] != user and data['instansi'][i] == userPreferences['instansi']:
            similar_instansi.append(data['userid'][i])
        if data['userid'][i] != user and data['pekerjaan'][i] == userPreferences['pekerjaan']:
            similar_pekerjaan.append(data['userid'][i])
        if data['userid'][i] != user and data['domisili'][i] == userPreferences['domisili']:
            similar_domisili.append(data['userid'][i])
        if data['userid'][i] != user and data['hobi'][i] == userPreferences['hobi']:
            similar_hobi.append(data['userid'][i])

    #print function output
    print(f"{user} : {userPreferences}")
    print(f"Friends Recommendation for {user} : {similar_users}")
    print(f"Same Agency/Institute with {user} : {similar_instansi}")
    print(f"Same occupation with {user} : {similar_pekerjaan}")
    print(f"Same area with {user} : {similar_domisili}")
    print(f"Same hobby with {user} : {similar_hobi}")

In [7]:
recommend_friends(5492)

5492 : {'instansi': 'Universitas Andalas (UNAND)', 'pekerjaan': 'Infuencer', 'domisili': 'Kota Pekalongan', 'hobi': 'Makan'}
Friends Recommendation for 5492 : [16429, 10476, 24779, 66464, 54602, 87577, 73591, 19970, 84635, 26560, 34714, 33127, 67632, 69667, 92130, 84550, 28136, 87333, 24353, 39323, 27406, 13654, 24532, 52992, 61294, 86861, 60501, 46514, 68348, 41482, 65634, 85759, 86361, 95022, 74515, 67256, 29807, 37167, 27699, 7159, 1054, 45688, 40985, 25298, 95853, 643, 47498, 64416, 4269, 55220, 33905, 11790, 47155, 89491, 43634, 69792, 26635, 27760, 97861, 90882, 66304, 4191, 79777, 59882, 89744, 53884, 79144, 98366, 66822, 57, 80417, 95175, 8643, 69712, 48709, 12416, 47364, 5370, 10516, 39892, 47259, 77842, 53660, 45373, 42023, 92700, 55184, 73958, 61831, 3266, 67679, 3202, 31951, 5698, 77321, 89517, 70204, 32097, 16133, 12891, 15754, 65487, 21812, 5196, 19698, 76614, 2094, 73344, 97720, 62563, 15510, 502, 8132, 48803, 18466, 19474, 74919, 58399, 49603, 43588, 65931, 51507, 7436, 21597, 27797, 80796, 64425, 29737, 61054, 79330]
Same Agency/Institute with 5492 : [16429, 84635, 26560, 33127, 92130, 85759, 95022, 37167, 1054, 40985, 25298, 33905, 11790, 79777, 79144, 66822, 12416, 47364, 39892, 16133, 62563, 80796]
Same occupation with 5492 : [10476, 73591, 19970, 69667, 84550, 24353, 27406, 13654, 24532, 52992, 86861, 60501, 41482, 65634, 86361, 74515, 67256, 29807, 7159, 643, 47498, 64416, 47155, 89491, 43634, 69792, 97861, 66304, 98366, 95175, 8643, 5370, 47259, 45373, 92700, 73958, 61831, 67679, 3202, 5698, 77321, 12891, 21812, 19698, 73344, 15510, 8132, 48803, 58399, 49603, 43588, 65931, 51507, 21597, 27797, 64425, 29737, 61054]
Same area with 5492 : [54602, 19970, 34714, 87333, 95853, 59882, 89744, 48709, 15754]
Same hobby with 5492 : [24779, 66464, 87577, 33127, 67632, 28136, 39323, 61294, 86861, 46514, 68348, 27699, 45688, 4269, 55220, 26635, 27760, 90882, 4191, 53884, 66822, 57, 80417, 69712, 10516, 77842, 53660, 42023, 55184, 61831, 3266, 31951, 5698, 89517, 70204, 32097, 65487, 5196, 76614, 2094, 97720, 502, 18466, 19474, 74919, 7436, 27797, 79330]

**Model** **Evaluation**

In [8]:
dom1 = data[data['userid'] == 5492]['domisili'].values[0]
# data['domisili'][data['domisili']== dom1].value_counts()
data['userid'][data['domisili']== dom1]

12      5492
28     54602
41     19970
68     34714
102    87333
286    95853
425    59882
436    89744
507    48709
743    15754
Name: userid, dtype: int64

In [9]:
data['domisili'].value_counts()

Kabupaten Sragen         19
Kabupaten Lumajang       17
Kota Batu                15
Kota Surabaya            15
Kota Bandung             14
                         ..
Kabupaten Garut           4
Kabupaten Gresik          3
Kota Yogyakarta           3
Kabupaten Probolinggo     3
Kota Jakarta              1
Name: domisili, Length: 114, dtype: int64

In [10]:
data['userid'][data['domisili']=='Kota Jakarta']

935    49413
Name: userid, dtype: int64

In [11]:
recommend_friends(49413)

49413 : {'instansi': 'PT Bank Mandiri Tbk', 'pekerjaan': 'Siswa', 'domisili': 'Kota Jakarta', 'hobi': 'Menari'}
Friends Recommendation for 49413 : [85501, 39535, 25277, 58033, 98631, 31730, 86274, 30012, 38795, 65479, 23504, 30248, 48435, 30291, 24098, 38317, 97715, 13329, 24532, 92986, 78361, 90906, 18284, 67256, 78318, 36292, 51000, 82544, 60724, 41919, 15389, 76268, 39731, 55220, 7072, 89491, 60259, 76625, 91340, 6758, 93143, 37977, 4191, 63084, 84508, 75534, 67954, 52179, 65090, 30456, 92019, 57, 21764, 44374, 52732, 90178, 55088, 41835, 19758, 92400, 70927, 91589, 19316, 47848, 21036, 90730, 42715, 43408, 98773, 79967, 56868, 204, 26319, 24557, 59019, 38229, 83007, 77558, 26793, 73765, 96547, 69854, 78441, 84534, 53880, 85431, 93952, 19698, 41487, 75274, 43928, 8647, 82607, 94433, 7771, 9768, 34887, 83228, 19553, 79993, 34404, 72549, 84383, 27579, 49168, 23892, 53041, 42918, 18453, 67929, 80796, 5428, 29737]
Same Agency/Institute with 49413 : [98631, 65479, 23504, 48435, 38317, 78361, 82544, 55220, 57, 21036, 42715, 204, 83007, 96547, 78441, 85431, 19553, 53041]
Same occupation with 49413 : [39535, 25277, 58033, 31730, 30012, 38795, 23504, 30248, 30291, 24098, 92986, 90906, 78318, 51000, 41919, 76268, 39731, 7072, 60259, 91340, 6758, 93143, 37977, 4191, 75534, 52179, 30456, 21764, 52732, 90178, 55088, 41835, 19758, 91589, 19316, 21036, 90730, 98773, 56868, 26319, 24557, 77558, 26793, 73765, 69854, 84534, 93952, 41487, 75274, 8647, 82607, 94433, 7771, 9768, 72549, 84383, 49168, 23892, 42918]
Same area with 49413 : []
Same hobby with 49413 : [85501, 25277, 86274, 97715, 13329, 24532, 18284, 67256, 36292, 60724, 15389, 89491, 76625, 63084, 84508, 67954, 65090, 30456, 92019, 44374, 92400, 70927, 47848, 43408, 79967, 204, 59019, 38229, 53880, 19698, 41487, 43928, 34887, 83228, 79993, 34404, 27579, 18453, 67929, 80796, 5428, 29737]

**Saving Model using TF (coba-coba)**

In [15]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Concatenate, Dense

# Read the data
df = pd.read_csv("/content/Data generated.csv")
data = pd.DataFrame({'userid': df['userid'], 'instansi': df['instansi'], 'pekerjaan': df['pekerjaan'],
                     'domisili': df['domisili'], 'hobi': df['hobi']})

# Create user and item indices
user_indices = data['userid'].astype('category').cat.codes.values
instansi_indices = data['instansi'].astype('category').cat.codes.values
pekerjaan_indices = data['pekerjaan'].astype('category').cat.codes.values
domisili_indices = data['domisili'].astype('category').cat.codes.values
hobi_indices = data['hobi'].astype('category').cat.codes.values
item_indices = np.arange(len(data))

# Define the model architecture
num_users = len(data['userid'].unique())
num_instansi = len(data['instansi'].unique())
num_pekerjaan = len(data['pekerjaan'].unique())
num_domisili = len(data['domisili'].unique())
num_hobi = len(data['hobi'].unique())
embedding_dim = 32

user_input = Input(shape=(1,))
instansi_input = Input(shape=(1,))
pekerjaan_input = Input(shape=(1,))
domisili_input = Input(shape=(1,))
hobi_input = Input(shape=(1,))

user_embedding = Embedding(num_users, embedding_dim, embeddings_initializer='he_normal')(user_input)
instansi_embedding = Embedding(num_instansi, embedding_dim, embeddings_initializer='he_normal')(instansi_input)
pekerjaan_embedding = Embedding(num_pekerjaan, embedding_dim, embeddings_initializer='he_normal')(pekerjaan_input)
domisili_embedding = Embedding(num_domisili, embedding_dim, embeddings_initializer='he_normal')(domisili_input)
hobi_embedding = Embedding(num_hobi, embedding_dim, embeddings_initializer='he_normal')(hobi_input)

user_vec = tf.keras.layers.Flatten()(user_embedding)
instansi_vec = tf.keras.layers.Flatten()(instansi_embedding)
pekerjaan_vec = tf.keras.layers.Flatten()(pekerjaan_embedding)
domisili_vec = tf.keras.layers.Flatten()(domisili_embedding)
hobi_vec = tf.keras.layers.Flatten()(hobi_embedding)

user_preferences = Concatenate()([instansi_vec, pekerjaan_vec, domisili_vec, hobi_vec])
rating_pred = Dense(1)(user_preferences)

model = Model(inputs=[user_input, instansi_input, pekerjaan_input, domisili_input, hobi_input], outputs=rating_pred)

# Compile the model
model.compile(loss='mse', optimizer='adam')

# Split the data into train and test sets
train_ratio = 0.8
train_size = int(train_ratio * len(data))

train_user_input = user_indices[:train_size]
train_instansi_input = instansi_indices[:train_size]
train_pekerjaan_input = pekerjaan_indices[:train_size]
train_domisili_input = domisili_indices[:train_size]
train_hobi_input = hobi_indices[:train_size]
train_ratings = data['userid'][:train_size].values

test_user_input = user_indices[train_size:]
test_instansi_input = instansi_indices[train_size:]
test_pekerjaan_input = pekerjaan_indices[train_size:]
test_domisili_input = domisili_indices[train_size:]
test_hobi_input = hobi_indices[train_size:]
test_ratings = data['userid'][train_size:].values

# Train the model
model.fit([train_user_input, train_instansi_input, train_pekerjaan_input, train_domisili_input, train_hobi_input], train_ratings,
          validation_data=([test_user_input, test_instansi_input, test_pekerjaan_input, test_domisili_input, test_hobi_input], test_ratings),
          epochs=10, batch_size=32)

# Convert the model to TensorFlow Lite
converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_model = converter.convert()

Epoch 1/10
25/25 [==============================] - 2s 19ms/step - loss: 3345393664.0000 - val_loss: 3352181504.0000
Epoch 2/10
25/25 [==============================] - 0s 6ms/step - loss: 3345355264.0000 - val_loss: 3352142592.0000
Epoch 3/10
25/25 [==============================] - 0s 6ms/step - loss: 3345310976.0000 - val_loss: 3352096256.0000
Epoch 4/10
25/25 [==============================] - 0s 6ms/step - loss: 3345256960.0000 - val_loss: 3352037888.0000
Epoch 5/10
25/25 [==============================] - 0s 8ms/step - loss: 3345189376.0000 - val_loss: 3351963904.0000
Epoch 6/10
25/25 [==============================] - 0s 4ms/step - loss: 3345104128.0000 - val_loss: 3351871232.0000
Epoch 7/10
25/25 [==============================] - 0s 3ms/step - loss: 3344997632.0000 - val_loss: 3351755776.0000
Epoch 8/10
25/25 [==============================] - 0s 4ms/step - loss: 3344868096.0000 - val_loss: 3351616768.0000
Epoch 9/10
25/25 [==============================] - 0s 5ms/step - loss: 3344712448.0000 - val_loss: 3351450624.0000
Epoch 10/10
25/25 [==============================] - 0s 4ms/step - loss: 3344527872.0000 - val_loss: 3351257856.0000

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

In [16]:
from google.colab import drive
from tensorflow.keras.models import load_model

drive.mount('/content/drive')
model.save('/content/drive/MyDrive/Capstone/coba-coba.h5')

Mounted at /content/drive

In [17]:
import pandas as pd

df = pd.read_csv("/content/Data generated.csv")
data = pd.DataFrame({'userid': df['userid'], 'instansi': df['instansi'], 'pekerjaan': df['pekerjaan'], 'domisili': df['domisili'], 'hobi': df['hobi']})

data.to_hdf('/content/drive/MyDrive/Capstone/data.hdf5', key='data', mode='w')

**Trained and saved Model** (No TF)

In [18]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
import pickle

# Load the dataset
df = pd.read_csv("/content/Data generated.csv")

# Perform preprocessing and feature engineering
# ...

# Prepare the input features and target variable
X = df[['instansi', 'pekerjaan', 'domisili', 'hobi']]
y = df['userid']

# Perform one-hot encoding on the categorical variables
X_encoded = pd.get_dummies(X)

# Train the model
model = LogisticRegression()
model.fit(X_encoded, y)

# Save the trained model as a pickle file
with open('/content/drive/MyDrive/Capstone/model1.pkl', 'wb') as f:
    pickle.dump(model, f)

Deployment using Flask (???)

In [19]:
from flask import Flask, request, jsonify
import pandas as pd
import pickle
import os

app = Flask(__name__)

# Load the data and perform preprocessing
df = pd.read_csv("/content/Data generated.csv")
data = pd.DataFrame({'userid': df['userid'], 'instansi': df['instansi'], 'pekerjaan': df['pekerjaan'], 'domisili': df['domisili'], 'hobi': df['hobi']})

# Define the path to the trained model
model_path = "/content/drive/MyDrive/Capstone/saved model/model.pkl"  # Replace with the correct path to your model file

# Load the trained model
if os.path.exists(model_path):
    with open(model_path, 'rb') as f:
        model = pickle.load(f)
else:
    raise FileNotFoundError("Model file not found at the specified path.")

@app.route('/predict', methods=['POST'])
def predict():
    user = request.json['user']

    # Recommendation logic
    similar_users = []
    similar_instansi = []
    similar_pekerjaan = []
    similar_domisili = []
    similar_hobi = []
    userPreferences = {}

    # Input user preferences based on the matching user in data
    userPreferences['instansi'] = data[data['userid'] == user]['instansi'].values[0]
    userPreferences['pekerjaan'] = data[data['userid'] == user]['pekerjaan'].values[0]
    userPreferences['domisili'] = data[data['userid'] == user]['domisili'].values[0]
    userPreferences['hobi'] = data[data['userid'] == user]['hobi'].values[0]

    # Iterate through data and find similarities between the user and others
    for i in range(len(data)):
        if (data['userid'][i] != user) and (
                data['instansi'][i] == userPreferences['instansi'] or
                data['pekerjaan'][i] == userPreferences['pekerjaan'] or
                data['domisili'][i] == userPreferences['domisili'] or
                data['hobi'][i] == userPreferences['hobi']):
            similar_users.append(data['userid'][i])

        if data['userid'][i] != user and data['instansi'][i] == userPreferences['instansi']:
            similar_instansi.append(data['userid'][i])
        if data['userid'][i] != user and data['pekerjaan'][i] == userPreferences['pekerjaan']:
            similar_pekerjaan.append(data['userid'][i])
        if data['userid'][i] != user and data['domisili'][i] == userPreferences['domisili']:
            similar_domisili.append(data['userid'][i])
        if data['userid'][i] != user and data['hobi'][i] == userPreferences['hobi']:
            similar_hobi.append(data['userid'][i])

    # Format the recommendations into a dictionary
    recommendations = {
        'user': user,
        'similar_users': similar_users,
        'similar_instansi': similar_instansi,
        'similar_pekerjaan': similar_pekerjaan,
        'similar_domisili': similar_domisili,
        'similar_hobi': similar_hobi
    }

    # Return the recommendations as a JSON response
    return jsonify(recommendations)

if __name__ == '__main__':
    app.run(debug=True)

FileNotFoundError: ignored

# Friends Recommendation Model (2) TF

In [3]:
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("/content/Data generated.csv")

data = pd.DataFrame({'userid': df['userid'], 'instansi': df['instansi'], 'pekerjaan': df['pekerjaan'], 'domisili': df['domisili'], 'hobi': df['hobi']})

def create_model(input_size):
    model = tf.keras.Sequential([
        tf.keras.layers.Dense(32, activation='relu', input_shape=(input_size,)),
        tf.keras.layers.Dense(1, activation='sigmoid')
    ])
    return model

def prepare_data(user_id):
    user_preferences = {
        'instansi': data[data['userid'] == user_id]['instansi'].values[0],
        'pekerjaan': data[data['userid'] == user_id]['pekerjaan'].values[0],
        'domisili': data[data['userid'] == user_id]['domisili'].values[0],
        'hobi': data[data['userid'] == user_id]['hobi'].values[0]
    }

    # Encode categorical variables
    encoder = LabelEncoder()
    encoded_data = data.copy()
    encoded_data['instansi'] = encoder.fit_transform(encoded_data['instansi'])
    encoded_data['pekerjaan'] = encoder.fit_transform(encoded_data['pekerjaan'])
    encoded_data['domisili'] = encoder.fit_transform(encoded_data['domisili'])
    encoded_data['hobi'] = encoder.fit_transform(encoded_data['hobi'])

    input_data = []
    output_data = []

    for i in range(len(encoded_data)):
        if encoded_data['userid'][i] != user_id:
            similar_user = (
                int(encoded_data['instansi'][i] == user_preferences['instansi']) or
                int(encoded_data['pekerjaan'][i] == user_preferences['pekerjaan']) or
                int(encoded_data['domisili'][i] == user_preferences['domisili']) or
                int(encoded_data['hobi'][i] == user_preferences['hobi'])
            )
            input_data.append([encoded_data['instansi'][i], encoded_data['pekerjaan'][i], encoded_data['domisili'][i], encoded_data['hobi'][i]])
            output_data.append(similar_user)

    return tf.constant(input_data), tf.constant(output_data)

# Prepare the data
user_id = 5492
x_train, y_train = prepare_data(user_id)

# Create and train the model
input_size = 4  # Number of input features
model = create_model(input_size)
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(x_train, y_train, epochs=10)

# Convert the model to TensorFlow Lite format
converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_model = converter.convert()

# Save the TensorFlow Lite model to a file
from google.colab import drive
drive.mount('/content/drive')
with open('/content/drive/MyDrive/Capstone/saved model/model2.tflite', 'wb') as f:
    f.write(tflite_model)

Epoch 1/10
32/32 [==============================] - 1s 3ms/step - loss: 3.8636 - accuracy: 0.3714
Epoch 2/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0467 - accuracy: 0.9860
Epoch 3/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0099 - accuracy: 1.0000
Epoch 4/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0077 - accuracy: 1.0000
Epoch 5/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0065 - accuracy: 1.0000
Epoch 6/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0056 - accuracy: 1.0000
Epoch 7/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0049 - accuracy: 1.0000
Epoch 8/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0043 - accuracy: 1.0000
Epoch 9/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0030 - accuracy: 1.0000
Epoch 10/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0015 - accuracy: 1.0000

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# # Load the TensorFlow Lite model and run inference
# interpreter = tf.lite.Interpreter(model_path='/content/drive/MyDrive/Capstone/saved model/model.tflite')
# interpreter.allocate_tensors()

# input_details = interpreter.get_input_details()
# output_details = interpreter.get_output_details()

# input_data = input_data.numpy().astype('float32')
# input_data = tf.constant(input_data, dtype=tf.float32)
# interpreter.set_tensor(input_details[0]['index'], input_data)

# interpreter.invoke()

# output_data = interpreter.get_tensor(output_details[0]['index'])

# print(output_data)

# Friends Recommendation Model (3) TF

In [4]:
import tensorflow.compat.v1 as tf
import tensorflow.lite as tflite
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

def build_recommendation_model():
    # Define the TensorFlow graph
    graph = tf.Graph()

    with graph.as_default():
        # Define the input tensors as constant placeholders
        user_placeholder = tf.compat.v1.placeholder(tf.int32, shape=[])
        data_placeholder = tf.compat.v1.placeholder(tf.float32, shape=[None, data_encoded.shape[1]])

        # Split the data into user preferences and other user data
        user_preferences, other_users_data = tf.split(data_placeholder, [1, -1], axis=0)

        # Calculate the similarity between the user and other users based on preferences
        similarity = tf.reduce_sum(tf.cast(tf.equal(user_preferences, other_users_data), tf.float32), axis=1)

        # Find similar users based on the maximum similarity
        similar_users = tf.where(tf.not_equal(similarity, 0))[:, 0]

        # Function to recommend friends
        @tf.function
        def recommend_friends(user):
            # Define the variables
            similar_users_list = []
            similar_instansi = []
            similar_pekerjaan = []
            similar_domisili = []
            similar_hobi = []
            userPreferences = {}

            # Check if the user ID exists in the dataset
            if user in data['userid'].values:
                # Input values to userPreferences according to the user that matched with userid in data
                userPreferences['instansi'] = data[data['userid'] == user]['instansi'].values[0]
                userPreferences['pekerjaan'] = data[data['userid'] == user]['pekerjaan'].values[0]
                userPreferences['domisili'] = data[data['userid'] == user]['domisili'].values[0]
                userPreferences['hobi'] = data[data['userid'] == user]['hobi'].values[0]

                print(f"Found user ID {user} in the dataset.")
                print(f"User preferences: {userPreferences}")

                # Iterate through data index 0 up to the length of data and find similarities between user and others
                for i in range(len(data)):
                    if (data['userid'][i] != user) and (
                            data['instansi'][i] == userPreferences['instansi'] or
                            data['pekerjaan'][i] == userPreferences['pekerjaan'] or
                            data['domisili'][i] == userPreferences['domisili'] or
                            data['hobi'][i] == userPreferences['hobi']):
                        similar_users_list.append(data['userid'][i])

                        if data['userid'][i] != user and data['instansi'][i] == userPreferences['instansi']:
                            similar_instansi.append(data['userid'][i])
                        if data['userid'][i] != user and data['pekerjaan'][i] == userPreferences['pekerjaan']:
                            similar_pekerjaan.append(data['userid'][i])
                        if data['userid'][i] != user and data['domisili'][i] == userPreferences['domisili']:
                            similar_domisili.append(data['userid'][i])
                        if data['userid'][i] != user and data['hobi'][i] == userPreferences['hobi']:
                            similar_hobi.append(data['userid'][i])

                print(f"Friends of {user} : {similar_users_list}")
                print(f"Same institution with {user} : {similar_instansi}")
                print(f"Same occupation with {user} : {similar_pekerjaan}")
                print(f"Same area with {user} : {similar_domisili}")
                print(f"Same hobby with {user} : {similar_hobi}")
            else:
                print(f"User ID {user} does not exist in the dataset.")

            return similar_users_list

        return graph, recommend_friends, user_placeholder, data_placeholder

# Load the data
data = pd.read_csv('/content/Data generated.csv')  # Replace 'your_data.csv' with the path to your data file

# Encode categorical features using one-hot encoding
encoder = OneHotEncoder(sparse=False)
data_encoded = pd.get_dummies(data, columns=['gender', 'instansi', 'pekerjaan', 'domisili', 'hobi'])

# Build the recommendation model
recommend_friends_model = build_recommendation_model()

In [5]:
# Example usage:
user_id = 5492
output = recommend_friends_model[1](user_id)

Found user ID 5492 in the dataset.
User preferences: {'instansi': 'Universitas Andalas (UNAND)', 'pekerjaan': 'Infuencer', 'domisili': 'Kota Pekalongan', 'hobi': 'Makan'}
Friends of 5492 : [16429, 10476, 24779, 66464, 54602, 87577, 73591, 19970, 84635, 26560, 34714, 33127, 67632, 69667, 92130, 84550, 28136, 87333, 24353, 39323, 27406, 13654, 24532, 52992, 61294, 86861, 60501, 46514, 68348, 41482, 65634, 85759, 86361, 95022, 74515, 67256, 29807, 37167, 27699, 7159, 1054, 45688, 40985, 25298, 95853, 643, 47498, 64416, 4269, 55220, 33905, 11790, 47155, 89491, 43634, 69792, 26635, 27760, 97861, 90882, 66304, 4191, 79777, 59882, 89744, 53884, 79144, 98366, 66822, 57, 80417, 95175, 8643, 69712, 48709, 12416, 47364, 5370, 10516, 39892, 47259, 77842, 53660, 45373, 42023, 92700, 55184, 73958, 61831, 3266, 67679, 3202, 31951, 5698, 77321, 89517, 70204, 32097, 16133, 12891, 15754, 65487, 21812, 5196, 19698, 76614, 2094, 73344, 97720, 62563, 15510, 502, 8132, 48803, 18466, 19474, 74919, 58399, 49603, 43588, 65931, 51507, 7436, 21597, 27797, 80796, 64425, 29737, 61054, 79330]
Same institution with 5492 : [16429, 84635, 26560, 33127, 92130, 85759, 95022, 37167, 1054, 40985, 25298, 33905, 11790, 79777, 79144, 66822, 12416, 47364, 39892, 16133, 62563, 80796]
Same occupation with 5492 : [10476, 73591, 19970, 69667, 84550, 24353, 27406, 13654, 24532, 52992, 86861, 60501, 41482, 65634, 86361, 74515, 67256, 29807, 7159, 643, 47498, 64416, 47155, 89491, 43634, 69792, 97861, 66304, 98366, 95175, 8643, 5370, 47259, 45373, 92700, 73958, 61831, 67679, 3202, 5698, 77321, 12891, 21812, 19698, 73344, 15510, 8132, 48803, 58399, 49603, 43588, 65931, 51507, 21597, 27797, 64425, 29737, 61054]
Same area with 5492 : [54602, 19970, 34714, 87333, 95853, 59882, 89744, 48709, 15754]
Same hobby with 5492 : [24779, 66464, 87577, 33127, 67632, 28136, 39323, 61294, 86861, 46514, 68348, 27699, 45688, 4269, 55220, 26635, 27760, 90882, 4191, 53884, 66822, 57, 80417, 69712, 10516, 77842, 53660, 42023, 55184, 61831, 3266, 31951, 5698, 89517, 70204, 32097, 65487, 5196, 76614, 2094, 97720, 502, 18466, 19474, 74919, 7436, 27797, 79330]

**Evaluation**

In [6]:
dom1 = data[data['userid'] == 5492]['domisili'].values[0]
# data['domisili'][data['domisili']== dom1].value_counts()
data['userid'][data['domisili']== dom1]

12      5492
28     54602
41     19970
68     34714
102    87333
286    95853
425    59882
436    89744
507    48709
743    15754
Name: userid, dtype: int64

**Deploy Using TFlite**

In [7]:
# Create a TensorFlow session and run the function to populate the variables
with tf.compat.v1.Session(graph=recommend_friends_model[0]) as session:
    session.run(tf.compat.v1.global_variables_initializer())
    session.run(tf.compat.v1.local_variables_initializer())

    # Convert the TensorFlow graph to a TFLite model
    concrete_func = recommend_friends_model[1].get_concrete_function(recommend_friends_model[2])
    converter = tflite.TFLiteConverter.from_concrete_functions([concrete_func])
    tflite_model = converter.convert()

# Save the TFLite model to a file
with open('/content/drive/MyDrive/Capstone/saved model/model3.tflite', 'wb') as f:
    f.write(tflite_model)

WARNING:absl:Please consider providing the trackable_obj argument in the from_concrete_functions. Providing without the trackable_obj argument is deprecated and it will use the deprecated conversion path.

User ID Tensor("user:0", shape=(), dtype=int32) does not exist in the dataset.

# Friends Recommendation Model (4) TF mirip model 3

In [8]:
import tensorflow.compat.v1 as tf
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

def build_recommendation_model():
    # Define the TensorFlow graph
    graph = tf.Graph()

    with graph.as_default():
        # Define the placeholders for input data
        user_placeholder = tf.compat.v1.placeholder(tf.int32, shape=[])
        data_placeholder = tf.compat.v1.placeholder(tf.float32, shape=[None, data_encoded.shape[1]])

        # Split the data into user preferences and other user data
        user_preferences, other_users_data = tf.split(data_placeholder, [1, -1], axis=0)

        # Calculate the similarity between the user and other users based on preferences
        similarity = tf.reduce_sum(tf.cast(tf.equal(user_preferences, other_users_data), tf.float32), axis=1)

        # Find similar users based on the maximum similarity
        similar_users = tf.where(tf.not_equal(similarity, 0))[:, 0]

        # Create a TensorFlow session
        session = tf.compat.v1.Session()

        # Function to recommend friends
        def recommend_friends(user):
            # Define the variables
            similar_users = []
            similar_instansi = []
            similar_pekerjaan = []
            similar_domisili = []
            similar_hobi = []
            userPreferences = {}

            # Input values to userPreferences according to the user that matched with userid in data
            userPreferences['instansi'] = data[data['userid'] == user]['instansi'].values[0]
            userPreferences['pekerjaan'] = data[data['userid'] == user]['pekerjaan'].values[0]
            userPreferences['domisili'] = data[data['userid'] == user]['domisili'].values[0]
            userPreferences['hobi'] = data[data['userid'] == user]['hobi'].values[0]

            # Iterate through data index 0 up to the length of data and find similarities between user and others
            for i in range(len(data)):
                if (data['userid'][i] != user) and (
                        data['instansi'][i] == userPreferences['instansi'] or
                        data['pekerjaan'][i] == userPreferences['pekerjaan'] or
                        data['domisili'][i] == userPreferences['domisili'] or
                        data['hobi'][i] == userPreferences['hobi']):
                    similar_users.append(data['userid'][i])

                    if data['userid'][i] != user and data['instansi'][i] == userPreferences['instansi']:
                        similar_instansi.append(data['userid'][i])
                    if data['userid'][i] != user and data['pekerjaan'][i] == userPreferences['pekerjaan']:
                        similar_pekerjaan.append(data['userid'][i])
                    if data['userid'][i] != user and data['domisili'][i] == userPreferences['domisili']:
                        similar_domisili.append(data['userid'][i])
                    if data['userid'][i] != user and data['hobi'][i] == userPreferences['hobi']:
                        similar_hobi.append(data['userid'][i])

            # Print function output
            print(f"{user} : {userPreferences}")
            print(f"Friends Recommendation for {user} : {similar_users}")
            print(f"Same Agency/Institute with {user} : {similar_instansi}")
            print(f"Same occupation with {user} : {similar_pekerjaan}")
            print(f"Same area with {user} : {similar_domisili}")
            print(f"Same hobby with {user} : {similar_hobi}")

    return recommend_friends

# Load the data
data = pd.read_csv('/content/Data generated.csv')  # Replace 'your_data.csv' with the path to your data file

# Encode categorical features using one-hot encoding
encoder = OneHotEncoder(sparse=False)
data_encoded = pd.get_dummies(data, columns=['gender', 'instansi', 'pekerjaan', 'domisili', 'hobi'])

# Build the recommendation model
recommend_friends_model = build_recommendation_model()

In [9]:
# Example usage:
user_id = 5492
output = recommend_friends_model(user_id)

5492 : {'instansi': 'Universitas Andalas (UNAND)', 'pekerjaan': 'Infuencer', 'domisili': 'Kota Pekalongan', 'hobi': 'Makan'}
Friends Recommendation for 5492 : [16429, 10476, 24779, 66464, 54602, 87577, 73591, 19970, 84635, 26560, 34714, 33127, 67632, 69667, 92130, 84550, 28136, 87333, 24353, 39323, 27406, 13654, 24532, 52992, 61294, 86861, 60501, 46514, 68348, 41482, 65634, 85759, 86361, 95022, 74515, 67256, 29807, 37167, 27699, 7159, 1054, 45688, 40985, 25298, 95853, 643, 47498, 64416, 4269, 55220, 33905, 11790, 47155, 89491, 43634, 69792, 26635, 27760, 97861, 90882, 66304, 4191, 79777, 59882, 89744, 53884, 79144, 98366, 66822, 57, 80417, 95175, 8643, 69712, 48709, 12416, 47364, 5370, 10516, 39892, 47259, 77842, 53660, 45373, 42023, 92700, 55184, 73958, 61831, 3266, 67679, 3202, 31951, 5698, 77321, 89517, 70204, 32097, 16133, 12891, 15754, 65487, 21812, 5196, 19698, 76614, 2094, 73344, 97720, 62563, 15510, 502, 8132, 48803, 18466, 19474, 74919, 58399, 49603, 43588, 65931, 51507, 7436, 21597, 27797, 80796, 64425, 29737, 61054, 79330]
Same Agency/Institute with 5492 : [16429, 84635, 26560, 33127, 92130, 85759, 95022, 37167, 1054, 40985, 25298, 33905, 11790, 79777, 79144, 66822, 12416, 47364, 39892, 16133, 62563, 80796]
Same occupation with 5492 : [10476, 73591, 19970, 69667, 84550, 24353, 27406, 13654, 24532, 52992, 86861, 60501, 41482, 65634, 86361, 74515, 67256, 29807, 7159, 643, 47498, 64416, 47155, 89491, 43634, 69792, 97861, 66304, 98366, 95175, 8643, 5370, 47259, 45373, 92700, 73958, 61831, 67679, 3202, 5698, 77321, 12891, 21812, 19698, 73344, 15510, 8132, 48803, 58399, 49603, 43588, 65931, 51507, 21597, 27797, 64425, 29737, 61054]
Same area with 5492 : [54602, 19970, 34714, 87333, 95853, 59882, 89744, 48709, 15754]
Same hobby with 5492 : [24779, 66464, 87577, 33127, 67632, 28136, 39323, 61294, 86861, 46514, 68348, 27699, 45688, 4269, 55220, 26635, 27760, 90882, 4191, 53884, 66822, 57, 80417, 69712, 10516, 77842, 53660, 42023, 55184, 61831, 3266, 31951, 5698, 89517, 70204, 32097, 65487, 5196, 76614, 2094, 97720, 502, 18466, 19474, 74919, 7436, 27797, 79330]

**Evaluation**

In [10]:
dom1 = data[data['userid'] == 5492]['domisili'].values[0]
# data['domisili'][data['domisili']== dom1].value_counts()
data['userid'][data['domisili']== dom1]

12      5492
28     54602
41     19970
68     34714
102    87333
286    95853
425    59882
436    89744
507    48709
743    15754
Name: userid, dtype: int64

**Deploy Using TFlite**

In [14]:
# # Create a TensorFlow session and run the function to populate the variables
# with tf.compat.v1.Session(graph=recommend_friends_model[0]) as session:
#     session.run(tf.compat.v1.global_variables_initializer())
#     session.run(tf.compat.v1.local_variables_initializer())

#     # Convert the TensorFlow graph to a TFLite model
#     concrete_func = recommend_friends_model[1].get_concrete_function(recommend_friends_model[2])
#     converter = tflite.TFLiteConverter.from_concrete_functions([concrete_func])
#     tflite_model = converter.convert()

# # Save the TFLite model to a file
# with open('/content/drive/MyDrive/Capstone/saved model/model4.tflite', 'wb') as f:
#     f.write(tflite_model)

TypeError: ignored